@media (max-width: 900px){

header{
flex-direction:column;
gap:24px;
padding:24px;
}

.hero{
padding:24px;
}

.glass{
padding:45px 30px;
}

.glass h1{
font-size:58px;
}

.stats{
grid-template-columns:1fr;
}

.buttons{
flex-direction:column;
}

.btn{
width:100%;
text-align:center;
}

}

@media (max-width:600px){

.logo-icon{
width:54px;
height:54px;
font-size:22px;
}

.logo h2{
font-size:22px;
}

.logo p{
font-size:13px;
}

nav{
display:none;
}

.glass{
padding:35px 22px;
border-radius:24px;
}

.glass h1{
font-size:44px;
}

.glass p{
font-size:16px;
}

.badge{
font-size:12px;
}

footer{
font-size:12px;
}

}
