*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Outfit',sans-serif;
    background:#070B14;
    color:white;
    min-height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

    overflow:hidden;
}

body::before{

    content:"";

    position:fixed;
    inset:0;

    background:
    radial-gradient(circle at 20% 20%, rgba(0,183,255,.18), transparent 35%),
    radial-gradient(circle at 80% 15%, rgba(0,255,255,.10), transparent 30%),
    radial-gradient(circle at 50% 100%, rgba(0,119,255,.15), transparent 45%),
    linear-gradient(180deg,#070B14,#0B1222);

    z-index:-2;

}

h1{

    font-size:80px;

    font-weight:800;

    letter-spacing:-2px;

    background:linear-gradient(180deg,#fff,#8EEBFF);

    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;

    text-shadow:
    0 0 35px rgba(126,231,255,.18);

}
